$blue-1: #3093CC;
$blue-2: #3DB8FF;
$blue-3: #8AD4FF;
$blue-4: hsl(205, 90%, 88%);
$blue-5: hsl(205, 100%, 96%);

$grey-1: #222f3e;
$grey-2: #576574;
$grey-3: #8395a7;
$grey-4: #c8d6e5;
$grey-5: hsl(210deg 36% 96%);